@charset "utf-8";

/*
   CIS1350 - Final Project
   
   Zaleski Backpacking Extra Imported Style Sheet
   
   Author: Tony Benincasa  
   Date: 12/5/23 
   Filename: zbp_extra.css 

*/





body header {
    background: green;   
 }
 