@charset "utf-8";
@import url(zbp_extra.css);

/*
   CIS1350 - Final Project
   
   Zaleski Backpacking Style Sheet 1
   
   Author: Tony Benincasa 
   Date: 12/1/23 
   Filename: zbp_styles1.css 

*/

/* ===========
   Base Styles
   ===========
*/


/* HTML and Body Styles */

html {
   background: url(../images/forest.jpg) center center / cover no-repeat fixed;
   height: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
   /*background: green;*/   
   box-shadow: rgb(51, 51, 51) 5px 0px 15px,
               rgb(51, 51, 51) -5px 0px 15px;
   margin: 0px auto;
   min-height: 100%;
   min-width: 320px;
   max-width: 1024px;
   width: 100%;
}

/* Body Header Styles */


body header img {
   display: block;
   width: 100%;
   padding: 50px;
}

/* Horizonal Navigation Styles */

nav.horizontal {
   background-color: rgb(117, 140, 72);
   min-height: 2em;
}

nav.horizontal li {
   color: rgb(31, 73, 125);
   display: block;
   line-height: 2em;
   text-transform: none;
   text-decoration: underline;
   font-weight: bold;
}

nav.horizontal a {
   display: block;
   font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: rgb(31, 73, 125);
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: rgb(31, 73, 125);
   color: white;
}

/* Main Menu Styles */

ul.mainmenu {
   display: block;
}

ul.mainmenu > li {
   text-indent: 15px;
}

ul.mainmenu > li:first-of-type a {
   color: white;
   background-color: rgb(31, 73, 125);
}

/* Section Styles */

section {
   background-color: rgb(207, 222, 172);
   clear: both;
}

section::after {
   content: "";
   display: table;
   clear: both;
}

section img {
   display: block;
   float: left;
   width: 33%;
   padding: 10px;
   text-align: center;
}
figcaption {
   padding-left: 20px;
}

section p {
   line-height: 1.4em;
   padding: 5px;
   font-size: 1.2em;
}
section > article > ol > li {
   font-size: 1.2em;
   padding: 0%;
}
table {
   background: white;
   border: 10px outset green;
   font-size: 0.75em;
   width: 100%;
   text-align: center;
   
}
table caption {
   font-size: 3em;
   padding: 20px;
}
table td {
   border: 1px solid gray;
   vertical-align: middle;
   font-size: 1.5em;
}

/* Aside Styles */

aside {
   display: block;
   background-color: rgb(181, 204, 136);
}

/* Footer Styles */

body > footer {
   background-color: green;
   font-size: 1.2em;
   text-align: center;
   padding: 10px 0px;
}
body > footer > a {
   color: black;
}
/* Pulldown Menu Styles */

 ul.submenu {
   display: none;
 }

 a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
   display: block;
 }
 
/* New Styles Added Below */

/*  =============================================
            Mobile Styles: 0px to 480px
    =============================================
*/
@media only screen and (max-width: 480px) {
   nav.horizontal a {
      font-size: 1.5em;
      line-height: 2.2em;
   }
   aside {
      display: none;
   }
}

/*  =============================================
            Tablet Styles: 481px and greater
    =============================================
*/
@media only screen and (min-width: 481px){
   ul.mainmenu > li {
      float: left;
      width: 20%;
      position: relative;
   }
   ul.submenu {
      width: 200%;
      box-shadow: rgb(51,51,51) 5px 5px 5px;
      position: absolute;
   }
}


/*  =============================================
            Desktop Styles: 769px and greater
    =============================================
*/
@media only screen and (min-width: 769px){
   ul.submenu {
      background: transparent;
      box-shadow: none;
      display: block;
      position: relative;
      width: 100%;
   }
   nav.horizontal::after {
      clear: both;
      content: "";
      display: table;
   }
   nav.horizontal a.subtitleMenu {
      display: none;
   }
   body > section > nav
   {
      float: left;
      width: 20%;
   }
   article, form {
      float: left;
      width: 50%;
   }
      aside {
      float: left;
      width: 30%;
   }
}